<nav id="login-navigation">
	<ul class="nav justify-content-end">
		<li class="nav-item">
			<a class="nav-link active" href="login.jsp">Login</a></li>
		<li class="nav-item">
			<a class="nav-link active" href="register.jsp">Register</a></li>
	</ul>
</nav>
<h1 class="title">Ah Ha Restaurant</h1>
<nav id="main-navigation">
	<ul class="nav justify-content-center">
		<li class="nav-item"><a class="nav-link active">Home</a></li>
		<li class="nav-item"><a class="nav-link active">Menu</a></li>
		<li class="nav-item"><a class="nav-link active">Promotions</a></li>
	</ul>
</nav>