h1 {
	text-align: center;
}

h2.formtitle {
	text-align: center;
}

#reservation .btn-light {
	background-color: white;
	border: 1px solid #ced4da;
}

form {
	width: 500px;
}

form#reservation {
	width: 750px;
}

.footer {
	width: 490px;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 20px;
}

.footer span {
	color: #2b2a29;
	font-size: 14px;
	line-height: 18px;
}

.footer em {
	color: #b5b5b5;
	font-size: 14px;
	line-height: 18px;
	font-style: normal;
}

#navbarusername {
	text-decoration: none;
}

.profile-item {
	color: #0b5680;
	font-weight: bold;
	margin-left: 40%;
}

.profile-value {
	color: black;
	font-style: italic;
	margin-left: 45%
}

.rating-stars ul {
	list-style-type: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.rating-stars ul  li.star {
	display: inline-block;
}

.rating-stars ul  li.star  i.fa {
	font-size: 2.5em;
	color: #ccc;
}

.rating-stars ul  li.star.hover  i.fa {
	color: #FFCC36;
}

.rating-stars ul  li.star.selected  i.fa {
	color: #FF912C;
}

.checkbox-rate {
	display: none;
}

#feedbackcomments {
	resize: none;
}

#rate-warning {
	display: none;
}